* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.news-wrapper{
    margin: 82px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, auto));
    grid-auto-columns: 240px;
    grid-template-rows: repeat(2, minmax(260px, auto));
    grid-auto-rows: 260px;
    gap: 30px 60px;
}

.news-wrapper__block img{
    width: 100%;
}

.news-wrapper__descr{
    margin-top: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}